<!DOCTYPE html>
<html lang="en">
<head>
    
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieHell</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication2.styles.css" asp-append-version="true" />
    <style>
        .f-margin {
            margin-bottom:auto;
        } 
        .a {
            color: seashell;
           
            text-decoration: none;
        }

        .text {
            background: #2CE3FF;
            background: linear-gradient(to right, #2CE3FF 23%, #FF1A16 76%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            font-family: fangsong;
            font-size: 6em; 
            font-weight: 900;
            
          
            z-index: 1000; 
            
            
        }
        </style>
</head>
<body>
    <header>
        <a class="text" asp-area="" asp-controller="Home" asp-action="Index">MovieHell</a>

    </header>

    <div class="container">
        <main style= "padding-bottom: 8rem !important;" role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer style="margin-bottom:auto;" class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - MovieHell <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
